body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: #dff77f;
        overflow-x: hidden;
    }
    .location-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-top: 20px;
        border-radius: 40px white;
        margin: 1px;
    }
    .location {
        background: #e7ffad;
        padding: 10px 18px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        box-shadow: 0 2px 6px #e7ffad;
    }
    .icons{
        display: flex;
        gap: 15px;
        font-size: 20px;
        color: #2d2d2d;
    }
    .search-bar {
        margin: 1px;
        width: 700px;
        background: #e7ffad;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 12px 18px;
        gap: 6px;
        border: 1.5px solid rgb(255, 255, 255);
    }
    .search-input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 15px;
        width: 100%;
    }
    .veg-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        color: #083b0f;
    }
    .veg-toggle small {
        font-size: 10px;
        margin-top: -3px;
        color: #083b0f;
    }
    .veg-icon {
        font-size: 19px;
        margin-top: 2px;
        color: green;

    }
    .toggle-switch {
        width: 35px;
        height: 20px;
        background: #ffffff;
        border-radius: 20px;
        position: relative;
        margin-top: 4px;
        border:2px solid black
    }

    .toggle-switch::after {
        content: "";
        width: 17px;
        height: 17px;
        background: rgb(19, 26, 19);
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 50%;
    }
    .text {
        text-align: center;
        font-size: 28px;
        font-weight: 800;
        color: #083b0f;
        margin-top: 10px;
        font-weight:bolder;
        font-family: 'fuzzy bubbles','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: rgb(48, 98, 48) 1px 1px 1px;
    }
    .white-section {
        background: white;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding: 25px;
        margin-top: 20px;
    }
    .section-title {
        font-size: 26px;
        font-weight: bold;
        color: #222;
        margin-left: 230px;
    }
    .section-title span {
        color: #a6d31b;
    }
    .food-grid {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .food-card {
        background: #fff;
    }
    .food-img-box {
        position: relative;
    }
    .food-img {
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 15px;
    }
    .sold-out {
        position: absolute;
        top: 8px;
        right: 8px;
        background: #d32f2f;
        padding: 4px 10px;
        border-radius: 5px;
        font-size: 10px;
        color: white;
        font-weight: bold;
    }
    .food-name {
        font-size: 15px;
        font-weight: bold;
        margin-top: 5px;
    }
    .cafe-name {
        font-size: 12px;
        color: #888;
        margin-top: -3px;
    }
    .discount {
        font-size: 12px;
        font-weight: bold;
        color: #1d79ff;
        margin-top: 3px;
    }
    .old-price {
        font-size: 13px;
        text-decoration: line-through;
        color: #999;
    }
    .new-price {
        font-size: 18px;
        font-weight: bold;
        margin-top: 2px;
    }
    .veg-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 3px;
        border: 2px solid green;
        margin-left: 190px;
        margin-top: -7px;
    }
    .srch-veg{
    display: flex;
    justify-content: space-between;
    }
    .fa-user-circle{
        font-size: 30px;
        background-color: #ffffff;
        color: green;
        border-radius: 20px;
    }
    .fa-map-marker-alt{
        background-color: #fefeff;
        color: green;
        font-size: large;
    }
    .view-cart-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #a0a0a0; 
        color: white;
        padding: 10px 15px;
        border-radius: 25px; 
        font-family: sans-serif;
        width: fit-content;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
    
    }

    .cart-icon, .trash-icon, .arrow-icon {
        font-size: 1.2em;
        margin: 0 5px;
    }

    .button-text {
        margin: 0 10px;
        font-weight: bold;
    }

    .notification-bubble {
        background-color: #ff4d4d; 
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 0.8em;
        position: absolute;
        top: -5px; 
        left: 20px;
    }
    .view-cart-button{
        margin-left:px;
        left: 280px;
    }